
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.circular-btn {
    border-radius: 30px;
  }
  
  .circular-btn:hover {
    background-color: #baccfc;
  }

  .IeRotateSvg {
    display: inline-block;
    animation: rotate 2s infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
  .contact-button :hover{
    display: inline-flex;
    animation: rotate 2s normal ;
  }
  .svg-up {
    position: fixed !important  ;
    z-index: 1101;
    top: 0px !important; /* 40px */
  }
  .svg-down {
    position: fixed !important  ;
    z-index: 1;
    bottom: 0px !important; /* 40px */
    right: 2.5rem;
    justify-content: end;
  }
